<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.demo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="17" />
    
<!-- //20130303 added by michael
//use-feature added for using host api -->
    <uses-feature android:name="android.hardware.usb.host"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher1"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
<!-- 20130305 added by michael
USB_DEVICE_ATTACHED action only can be handled in activity
meta-deta specify the device PID/VID/class/sublass/protocol 
Relatively USB_DEVICE_DETACHED action is valid only in receiver -->
        <activity android:name="I_Tacker_Activity" android:screenOrientation="reversePortrait" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/> 
                <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            </intent-filter>
             <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"/>
            </intent-filter>
            <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" android:resource="@xml/device_filter"/>
        </activity>
        <receiver android:name="I_Tacker_Receiver">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        
<!--         20131213 added by michael
        Listing all iTracker meta data log file in folder /mnt/sdcard/*.txt -->
        <activity android:name="com.example.demo.LogFileChooserActivity" android:theme="@style/AppTheme_title" android:screenOrientation="reversePortrait" android:launchMode="singleTask"/>
        <activity android:name="com.example.demo.LogFileDisplayActivity" android:theme="@style/AppTheme_title" android:screenOrientation="reversePortrait" android:launchMode="singleTask"/>
        <!-- 20131218 added by michael
        AppWidget example -->
        <receiver android:name="com.example.demo.ExampleAppWidgetProvider" android:label="@string/appwidget_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/example_appwidget_info" />
        </receiver>

        <!-- 20131219 added by michael
        maestrogen AppWidget advertisement via browsing the home page -->
        <receiver android:name="com.example.demo.MaestrogenAppWidgetProvider" android:label="@string/advertise_appwidget1">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/ad1_appwidget_info" />
        </receiver>
        
        <!-- 20131219 added by michael
        digital lab bench home page hyperlink -->
        <receiver android:name="com.example.demo.DigitalLabTechAppWidgetProvider" android:label="@string/advertise_appwidget2">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/ad2_appwidget_info" />
        </receiver>
    </application>

</manifest>